.App {
  font-family: Helvetica, sans-serif;
  .tile{
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .nasa-tile{
    text-align: center;
    background-color: lightblue;
    img{
      max-height: 20em;
    }
    .image-text{
      max-width: 35em;
      margin: auto;
      line-height: 1.5em;
    }
  }
  .guardian-tile{
    background-color: lightyellow;
    ul {
      h2{
        text-align: center
      }
      li {
      list-style: none;
      }
    } 
  }
}
